@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-brown: #53423e;
  --color-lightBrown: #d1a99bff;
  --color-black-500: #1e1917;
  --color-darkBrown-500: #2c2523;
  --color-white-500: #f1e1d9;
  --color-cyan-500: #15d1e9;
  --color-ligtcyan-500: #88e5f0;
  --color-darkcyan-500: #009fb3;
  --color-orange-500: #fb9718;
  --color-lightorange-500: #fac27b;
  --color-darkorange-500: #d28422;
  --color-grey-500: #626965;
  --color-lightgrey-500: #978580;
  --color-darkgrey-500: #3f4441;
}
